.vscode
TODO*
rosbags/

## ADE
.bashrc
.profile
.bash_logout
.bash_history
.Xauthority
.ssh
external/
.dbus
.rviz2
.viminfo
.ros
.cache/

# ROS2
build/
install/
log/

# ROS1
devel/
.catkin_workspace
__pycache__/
