<launch>
    <arg name="frame_id" default="os_sensor"/>
    <arg name="rtabmapviz"    default="true"/>
    <arg name="scan_20_hz"    default="false"/>
    <arg name="use_sim_time"  default="false"/>

    <param name="robot_description" textfile="$(find ouster_panther)/config/os1_on_imu.xml"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="imu_odom_fuse_node" clear_params="true" output="screen">
      <rosparam file="$(find ouster_panther)/config/imu_odom_fuse.yaml" />
    </node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ouster_panther)/rviz/rviz_rtabmap_os_IMU.rviz" />

    <!-- IMU orientation estimation and publish tf accordingly to os1_sensor frame -->
    <node pkg="nodelet" type="nodelet" name="imu_nodelet_manager" args="manager">
      <remap from="imu" to="/os_cloud_node/imu"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="imu_filter" args="load imu_filter_madgwick/ImuFilterNodelet imu_nodelet_manager">
      <param name="use_mag" value="false"/>
      <param name="world_frame" value="enu"/>
      <param name="publish_tf" value="false"/>
    </node> 
    <node pkg="nodelet" type="nodelet" name="imu_to_tf" args="load rtabmap_ros/imu_to_tf imu_nodelet_manager">
      <remap from="imu/data" to="/os_cloud_node/imu/data"/>
      <param name="fixed_frame_id" value="$(arg frame_id)_stabilized"/>
      <param name="base_frame_id" value="$(arg frame_id)"/>
    </node> 
</launch>
