<launch>
    <arg name="os1_hostname" default="os1-122036000201.local"/>
    <arg name="metadata" default="$(find ouster_panther)/ouster_metadata/ouster_metadata.json"/>

    <arg name="frame_id" default="os_sensor"/>
    <arg name="rtabmapviz"    default="true"/>
    <arg name="scan_20_hz"    default="false"/>
    <arg name="use_sim_time"  default="false"/>


    <!-- Ouster -->
    <remap from="/os_cloud_node/imu" to="/os_cloud_node/imu/data_raw"/>
    <include file="$(find ouster_ros)/ouster.launch">
      <arg name="sensor_hostname" value="$(arg os1_hostname)"/>
      <arg name="metadata" value="$(arg metadata)"/>
      <arg name="timestamp_mode" type="string" value="TIME_FROM_PTP_1588"/>
      <arg name="lidar_mode" type="string" value="1024x10"/>
    </include>
<!-- 

    <param name="robot_description" textfile="$(find ouster_panther)/config/os1_on_imu.xml"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rob_st_pub" >
    </node> -->

    <node pkg="robot_localization" type="ekf_localization_node" name="imu_odom_fuse_node" clear_params="true" output="screen">
      <rosparam file="$(find ouster_panther)/config/imu_odom_fuse.yaml" />
    </node>

    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find ouster_panther)/rviz/rviz_rtabmap_os_IMU.rviz" /> -->

    <!-- IMU orientation estimation and publish tf accordingly to os1_sensor frame -->
    <node pkg="nodelet" type="nodelet" name="imu_nodelet_manager" args="manager">
      <remap from="imu" to="/os_cloud_node/imu"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="imu_filter" args="load imu_filter_madgwick/ImuFilterNodelet imu_nodelet_manager">
      <remap from="imu/data_raw" to="/os_cloud_node/imu/data_raw"/>
      <param name="use_mag" value="false"/>
      <param name="world_frame" value="enu"/>
      <param name="publish_tf" value="false"/>
    </node> 
    <!-- <node pkg="nodelet" type="nodelet" name="imu_to_tf" args="load rtabmap_ros/imu_to_tf imu_nodelet_manager">
      <remap from="imu/data" to="/os_cloud_node/imu/data"/>
      <param name="fixed_frame_id" value="$(arg frame_id)_stabilized"/>
      <param name="base_frame_id" value="$(arg frame_id)"/>
    </node>  -->
</launch>
